* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: black;
  color: aliceblue;
  min-width: 100%;
  margin: 0 auto;
}

h1 {
}
h2 {
  font-size: 2.625rem;
  font-weight: 300;
}

p,
h5 {
  color: gray;
  font-size: 1.312rem;
}

a {
  color: aquamarine;
}

img,
video {
  display: block;
  max-width: 100%;
}

.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero {
  min-height: 100vh;
}

.header-title {
  padding: 2rem 2rem;
  font-weight: normal;
  font-size: 3.125rem;
  text-align: center;
}

.padding-top {
  padding-top: 2rem;
}

.copy-right {
  align-self: flex-end;
  padding-bottom: 1rem;
}
